<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Code Snippet</title>
	<meta name="description" content="A code-snippet web application">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	{{>header}}
	{{>flash}}
    {{{body}}}
	{{>footer}}
</body>
	
</html>