
<div class="container">
  <div class="row">
    <div class="col-md-12">
<h2>Edit Snippet</h2>

<form method="post" action="/{{dataId}}/edit/">
  <div class="form-group">
    <textarea name="snippet" class="form-control" rows="20" placeholder="Enter a snippet" required="required" autofocus="autofocus">{{text}}</textarea>
  </div>
  <button type="submit" class="btn btn-outline-success">Edit snippet</button>
</form>

</div>
</div>
</div>