
<div class="container">
  <div class="row">
    <div class="col-md-12">

<h2>New Snippet</h2>

<form method="post" action="/new/snippet/">
  <div class="form-group">
    <textarea class="form-control" rows="20" name="snippet" placeholder="Enter a snippet" required="required" autofocus="autofocus"></textarea>
  </div>
  <button type="submit" class="btn btn-outline-success">Create snippet</button>
</form>

</div>
</div>
</div>