<h2>New Snippet</h2>

<form method="post" action="/new/snippet/">
  <div>
    <textarea name="snippet" cols="40" rows="10" placeholder="Enter a snippet" required="required" autofocus="autofocus"></textarea>
  </div>
  <button type="submit">Create snippet</button>
</form>