<h2>Sign up</h2>
<form method="post" action="/signup/create/">
	<input type="text" name="username" placeholder="Username" autocomplete="username" required><br><b>
	<input type="password" name="password" placeholder="Password" autocomplete="current-password" required><br><br>
	<input type="submit">
</form>
